<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">

  <test name="Test2">
    <groups>
      <run>
        <include name="checkintest"/>
      </run>
    </groups>
    <classes>
      <class name="org.example.ProfilePageTest"/>
    </classes>
  </test>

  <!-- <test name = "test1">
     <classes>
       <class name = "org.example.LoginPageTest"/>
     </classes>
   </test>
   <test name = "test2">
     <classes>
       <class name = "org.example.ProfilePageTest"/>
     </classes>
   </test>
   <test name = "test3">
     <classes>
       <class name = "org.example.BeginnerPageTest"/>
     </classes>
   </test> -->

 </suite>




